# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# also, some of import from eagler and antigravity
/.mcp-1.8
/.eagler-src
/.server-src
/.antigravity
/run
/natives
/.forge-src